@model MyDiaryApp.Models.User

@{
    ViewBag.Title = "My Diary-ChangePassword";
}
<style>
            body {
    margin: 0;
    padding: 0;
  
    background: #F0FFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
.box {
    width: 500px;
    height: 300px;
    background: white;
    opacity: .7;
    margin: auto;
    margin-top: 150px;
    box-sizing: border-box;
}
        .box input {
            width: 100%;
            margin-left: 100px;
            position: center;
        }

        .box h2 {
            margin: 0;
            padding: 6px;
            text-align: center;
            font-size: 30px;
            font-family: 'Times New Roman', Times, serif;
        }

        .box input[type="submit"]{
            border:none;
            outline:none;
            width: 30%;
            height:40px;
            background:#20B2AA;
            color:#fff;
            font-size:18px;
            border-radius:10px;
            margin-left: 150px;
   }
</style>



<div class="box">
    <h2>Change Your Password</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @ViewBag.Message
            @ViewBag.ErrorMessage

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @*<label class="control-label col-md-2">Old Password</label>*@
                <div class="col-md-10">
                    <input type="password" name="oldPassword" class="form-control" placeholder="Enter 4-digit code / old password" />
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*<label class="control-label col-md-2">New Password</label>*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "New password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*<label class="control-label col-md-2">Confirm Password</label>*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Done" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}